In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("adc.csv")

In [9]:
df.head()

,Rep Code,Route,Customer Code,Customer Name,SalesX,Sale,Lgsale,GP,GPX,Loggp,GppeX,Gpperc,Month
0,RAJEN,Collection,GND-01,GININDA CC T/A GND CATERING SERVICES,0,2.718282,1.000000,1.00,0,0.000000,-,0.000000,April
1,RAJEN,Richards Bay,SAA-04,121 SAI BN COMBINED CLUB,30311,30311.000000,10.319266,6988.63,6988.63,8.852040,0.2305641516281218,0.230564,April
2,RAJEN,Local,THR-02,3 ON LUMSDEN (PTY) LTD (EMAKHOSINI ),0,2.718282,1.000000,1.00,-,0.000000,0,0.000000,April
3,RAJEN,South Coast,SAA-03,ABS KZN COMMERCIALIZATION,191513,191513.000000,12.162711,33951.97,33951.97,10.432702,0.17728284763958582,0.177283,April
4,RAJEN,Collection,ACE-01,ACE'S KITCHEN,7313,7313.000000,8.897409,1414.87,1414.87,7.254793,0.19347326678517707,0.193473,April

In [10]:
def get_most_sales(df):
    # Read CSV file into a pandas DataFrame
  

    # Get customer with most sales
    customer = df.loc[df['Sale'].idxmax()]['Customer Name']

    # Get route with most sales
    route = df.loc[df['Sale'].idxmax()]['Route']

    # Get month with most sales
    month = df.loc[df['Sale'].idxmax()]['Month']

    return customer, route, month

In [11]:
get_most_sales(df)

('ABS KZN COMMERCIALIZATION', 'South Coast', 'May')